<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<bean id="simpleUrlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" >
		<property name="mappings">
			<props>
				<prop key="/user.html" >userController</prop>
			</props>
		</property>
	</bean>
	<mvc:interceptors >
        <!--interceptor 的顺序 为此处书写的顺序-->
        <mvc:interceptor>
            <mvc:mapping path="/*.*"/>
            <bean class="MvcTest.Interceptor.MyInterceptor" />
        </mvc:interceptor>
	</mvc:interceptors>
	<bean id="userController" class="MvcTest.controller.UserController"/>
</beans>