<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans>
        <bean id="Singleton" class="MyTest.SingletonBean" >
            <lookup-method name="getMyBean" bean="myTest"></lookup-method>
        </bean>

        <bean id="myTest" class="MyTest.MyBean"  scope="prototype">
        </bean>
    </beans>
</beans>